*.xam
xpkg
*.suo
lib
*.user
*.userprefs
#ignore build files
bin
obj
packages
.nuget/nuget.exe
src/*/Strings/*
Components
*.pfx #certs are binary
e2etest/**/AppPackages/*
e2etest/output/*
src/**/AppPackages/*
unittest/**/AppPackages/*
.vs/
*.nuget.targets
*.nuget.props
*.bak
*.lock.json
_ReSharper*