*.xam
xpkg
*.suo
lib
*.csproj.user
*.vbproj.user
*.userprefs
#ignore build files
bin
obj
packages
.nuget/nuget.exe
src/*/Strings/*
Components
*.pfx #certs are binary
e2etest/**/AppPackages/*
e2etest/output/*
src/**/AppPackages/*
unittest/**/AppPackages/*
.vs/
e2etest/*/project.lock.json
e2etest/*/*.nuget.targets
/src/Microsoft.WindowsAzure.MobileServices.Net45/Microsoft.Azure.Mobile.Client.Ex.snk
/src/Microsoft.WindowsAzure.MobileServices/Microsoft.Azure.Mobile.Client.Ex.snk
